body {
    display: flex;
    flex-direction: column;
}

content {
    display: flex;
    margin-top: 3em;
    height: auto;
    width: auto;
    justify-content: space-evenly;
    flex-direction: column;
}

header {
    margin-top: 2em;
    align-self: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 40px;
    letter-spacing: 2px;
}

button-row {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
}

#grid {
    margin-top: 10px;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    height: 60vh;
    width: 60vh;
}

.cell {
    border: 0.001em solid black;
}

.hovered {
    background-color: grey;
}